<div th:fragment="planets" xmlns:th="http://www.thymeleaf.org">
  <main class="solar-system">
    <div class="camera">
      <div id="planets-group">
        <div id="mercure" class="celestial-body">Mercure</div>
        <div id="venus" class="celestial-body">Vénus</div>
        <div id="terre" class="celestial-body">Terre</div>
        <div id="mars" class="celestial-body">Mars</div>
        <div id="jupiter" class="celestial-body">Jupiter</div>
        <div id="saturne" class="celestial-body">Saturne</div>
        <div id="uranus" class="celestial-body">Uranus</div>
        <div id="neptune" class="celestial-body">Neptune</div>
        <div id="pluton" class="celestial-body">Pluton</div>
      </div>
    </div>
  </main>
</div>